{% extends 'projects/base.html' %}
{% load static %}
{% block content %}


<div class="row pt-4">
    {% for project in projects %}
    <div class="col-md-4 pb-5">
        <div class="card mb-2">
            <a class="text-dark" href="{{ project.demo }}" target="_blank">
                <img class="card-img-top" src="{{ project.image.url }}">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a class="text-dark" href="{{ project.demo }}"
                        target="_blank">{{ project.title }}</a></h5>
                <p class="card-text">{{ project.description }}</p>
            </div>
            <div class="card-footer pt-3 pb-3">
                {% for tags in project.tag.all %}
                <span class="tag">{{ tags }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}